[mysqld]
# Força charset e collation padrão para todos os databases
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci


[client]
# Charset padrão dos clientes
default-character-set = utf8mb4

